.inputPageContainer {
	/* display: flex;
  flex-direction: column;
  align-items: flex-start; */
	margin: 2vw 2vw;
}

.buttonContainerAddProduct {
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	margin-top: 10vh;
	/* margin-left: 2vh; */
}
.headingContainerAddProduct {
	margin-bottom: 30px;
}

.submitButton {
	margin-top: 20px;
	padding: 10px;
	border-radius: 10px;
	background-color: white;
	border: 2px solid rgba(19, 128, 0, 0.532);
	width: 120px;
}

.submitButton:hover {
	background-color: rgba(19, 128, 0, 0.1);
}

.uploadImageButton {
	margin-top: 20px;
	padding: 10px;
	border-radius: 10px;
	background-color: white;
	border: 2px solid rgba(19, 128, 0, 0.532);
	width: 150px;
}
.uploadImageButton:hover {
	background-color: rgba(19, 128, 0, 0.1);
}

.successMarker {
	margin-top: 10px;
}

