.editProductContainer{
  margin : 10px;
}
.inputFormContainer{
  margin-top: 40px;
}
.buttonContainerEditProduct {
  margin-top: 10vh;
  display: flex;
  justify-content: space-between;
}

.deleteProductButton {
  margin-top: 20px;
  padding : 10px;
  border-radius: 10px;
  background-color: white;
  border : 2px solid rgba(255, 0, 0, 0.806);
  width: 120px;
}

.deleteProductButton:hover{
  background-color: rgba(255, 0, 0, 0.1);
}
.successMarker {
  margin-top: 10px;
}
.currentImage {
  width : 150px;
  height : 150px;
  object-fit: cover;
  margin-top: 20px;
  border: 2px solid black;
  border-radius: 50%;
}
.imageInputContainer{
  display: flex;
  flex-direction: column;
  /* background-color: green; */
}
/* .uploadFileStyle{
  margin-top : 20px;
} */
.inputStyle{
  margin-top : 30px;
}