@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.container {
  display: flex;
  flex-direction: column; 
  margin : 20px 10px;
  padding : 20px 0px;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* background-color: green; */
  flex : 1;
  justify-content: center;
  margin-top : 6vh;
}
.headingContainerDash{
  display: flex;
  justify-content: center;
  font-family: 'Montserrat' , sans-serif;
  font-size: 20px;
}

