.dataTableContainer{
  display: flex;
  justify-content: center;
  height : 650px;
  margin : 5vh 1vw 0 1vw;
}

.statusTag{
  padding : 7px;
  border-radius: 5px;
}

.statusTag.Fulfilled {
  color: green;
  background-color: rgba(0,128,0,0.151);
}

.statusTag.Pending {
  color : goldenrod;
  background-color: rgba(189 , 189 , 3 , 0.103);
}

.actionsContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.markButton {
  padding : 5px;
  background-color: white;
  border : 2px solid rgba(0, 43, 128, 0.44);
  border-radius: 5px;
}

.markButton:hover {
  background-color: rgba(0, 43, 128, 0.1);
}

.headingContainerOrders{
  margin-left: 1vw;
	margin-right: 4vw;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding : 0 10px 0 10px;
  font-size : 20px;
}

.deleteButton{
  padding : 5px 5px;
  border-radius: 5px;
  background-color: white;
  border : 2px solid rgba(255, 0, 0, 0.5);
  width: 65px;
  margin-left: 4px;
}

.deleteButton:hover{
  background-color: rgba(255, 0, 0, 0.1);
}


@media screen and (max-width : 1438px) {
  .markButton {
    padding : 4px;
  }
  .body {
    background-color: green;
  }
}

