.productsDataTable {
  display: flex;
	justify-content: center;
	height: 650px;
	margin: 5vh 4vw 0 4vw;
}

.MuiDataGrid-root .MuiDataGrid-cell{
	word-wrap: break-word !important;
	white-space: normal !important;
}

.MuiDataGrid-header {
	word-wrap: break-word !important;
	white-space: normal !important;
}

.headingContainerProducts{
	margin-left: 4vw;
	margin-right: 4vw;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding : 0 10px 0 10px;
	font-size: 20px;
}


.editButton {
	padding : 7px 14px;
  background-color: white;
  border : 2px solid rgba(0, 43, 128, 0.44);
  border-radius: 5px;
}

.editButton:hover {
	background-color: rgba(0, 43, 128, 0.1);
}

.addButton {
	padding : 7px 14px;
  background-color: white;
  border : 2px solid rgba(19, 128, 0, 0.532);
  border-radius: 5px;
}
.addButton:hover {
	background-color: rgba(19, 128, 0, 0.1);
}