@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.card-container {
  font-family: 'Montserrat', sans-serif;
  padding : 20px;
  border-radius : 25px;
  background-color: #060b26f2;
  margin : 20px 10px;
  width : 20vw;
  box-shadow: 5px 5px 25px rgb(75, 73, 73);
  color : white;
}

.red {
  color : rgb(195, 53, 53)
}

.green {
  color : rgb(69, 185, 69)
}
