@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.card-container {
  font-family: 'Montserrat', sans-serif;
  border-radius : 25px;
  background-color: #060b26f2;
  margin : 20px 10px;
  padding : 20px;
  width : 20vw;
  height : 110px;
  box-shadow: 5px 5px 25px rgb(75, 73, 73);
  color : white;
  position : relative;
}


.red {
  color : rgb(195, 53, 53)
}

.green {
  color : rgb(69, 185, 69)
}

.cardValue {
  position : absolute;
  bottom : 20px;
  right : 20px;
}



@media screen and (max-width : 700px){
  .card-container{
    width : 30vw;
  }
}

@media screen and (max-width : 550px){
  .card-container {
    width : 60vw;
  }
}