@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.sidebar{
  display : flex;
  position : fixed;
  left:0;
  right : 0;
  height: 100vh;
  width: 220px;
  background-color: #060b26;
  flex-direction: column;
}
.sidebarItemsContainer{
  display: flex;
  flex-direction: column;
  margin: 5px;
  margin-top : 5vh;
  padding: 10px ;
  /* margin-left: 10px; */
}
.sidebarItemContainer{
  display : flex;
  color: white;
  height : 30px;
  align-items: center;
  padding : 15px;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  margin-top: 2px;
  margin-bottom: 2px;
  border-radius: 20px;
}

.sidebarItemContainer:hover{
  background-color: #fe6f00;
  
}

.sidebarItemText {
  font-size: 20px;
  margin-left: 15px;
}
.imageContainer{
  display : flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  margin-top : 20px;
}
.logoImage {
  z-index : 1;
  width: 80px;
  height : 80px;
  object-fit: cover;
  border-radius: 40px;
} 

