@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.rootContainer {
  display: flex;
  flex : 1;
}

.sidebarContainer {
  display : flex;
}

.mainScreen {
  display: flex;
  flex : 1;
  margin : 10px 10px 10px 230px;
  flex-direction: column;
  /* background-color : aqua; */
}




